<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="csrf-token" content="YvbdaQxlzbJ5l0F6EhyXMeVZebAicYNv8wcSrZok">
    <meta name="app-url" content="https://demo.activeitzone.com/ecommerce/">
    <meta name="file-base-url" content="https://demo.activeitzone.com/ecommerce/public/">

    <title>Grabdeal | Bangladesh </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">





    <!-- Favicon -->
    <!-- <link rel="icon"
        href="https://demo.activeitzone.com/ecommerce/public/uploads/all/GWnuPltJAJGQc4IcbgssYYyQMzw6kqC90S64BKaQ.png"> -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
        rel="stylesheet">

    <!-- CSS Files -->
    <link rel="stylesheet" href="https://demo.activeitzone.com/ecommerce/public/assets/css/vendors.css">
    <link rel="stylesheet" href="https://demo.activeitzone.com/ecommerce/public/assets/css/aiz-core.css">
    <link rel="stylesheet" href="https://demo.activeitzone.com/ecommerce/public/assets/css/custom-style.css">


    <script>
        var AIZ = AIZ || {};
    </script>

    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
        }

        :root {
            --primary: #e62e04;
            --hov-primary: #e62e04;
            --soft-primary: rgba(230, 46, 4, 0.15);
        }
    </style>




</head>

<body>

    <!-- aiz-main-wrapper -->
    <div class="aiz-main-wrapper d-flex flex-column">

        <!-- input form -->


        <form class="stop-propagation search">
            <div class="d-flex position-relative align-items-center">
                <div class="input-group">
                    <input type="text" class="search__field" placeholder="Search over 1,000,000 recipes...">
                    <div class="input-group-append d-none d-lg-block">
                        <button class="btn btn-primary" type="submit">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </form>


        <!-- end form -->


        <section class="mb-4 pt-3">
            <div class="container">
                <div class="bg-white shadow-sm rounded p-3">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6">
                            <div class="sticky-top z-3 row gutters-10 flex-row-reverse">
                                <div class="col">
                                    <div class="aiz-carousel product-gallery" data-nav-for='.product-gallery-thumb'
                                        data-fade='true'>
                                        <div class="caorusel-box img-zoom rounded">
                                            <img class="img-fluid lazyload"
                                                src="https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder.jpg"
                                                data-src="https://demo.activeitzone.com/ecommerce/public/uploads/products/photos/mKCBrajI6ctT6a3hYknUNn4NhJO3eGmb6tJmoXc2.jpeg"
                                                onerror="this.onerror=null;this.src='https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder.jpg';">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto w-90px">
                                    <div class="aiz-carousel caorusel-thumb product-gallery-thumb" data-items='5'
                                        data-nav-for='.product-gallery' data-vertical='true' data-focus-select='true'>
                                        <div class="carousel-box c-pointer border p-1 rounded">
                                            <img class="lazyload mw-100 size-60px mx-auto"
                                                src="https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder.jpg"
                                                data-src="https://demo.activeitzone.com/ecommerce/public/uploads/products/photos/mKCBrajI6ctT6a3hYknUNn4NhJO3eGmb6tJmoXc2.jpeg"
                                                onerror="this.onerror=null;this.src='https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder.jpg';">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-7 col-lg-6">
                            <div class="text-left">
                                <h1 class="mb-2 fs-20 fw-600">
                                    Chelsea Crew Black Label Ollie Tan Leather High Heel
                                </h1>

                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <span class="rating">
                                            <i class='las la-star'></i><i class='las la-star'></i><i
                                                class='las la-star'></i><i class='las la-star'></i><i
                                                class='las la-star'></i>
                                        </span>
                                        <span class="ml-1 opacity-50">(0 reviews)</span>
                                    </div>
                                    <div class="col-6 text-right">
                                        <span class="badge badge-md badge-inline badge-pill badge-success">In
                                            stock</span>
                                    </div>
                                </div>

                                <hr>


                                <div class="row no-gutters mt-3">
                                    <div class="col-2">
                                        <div class="opacity-50">Price:</div>
                                    </div>
                                    <div class="col-10">
                                        <div class="">
                                            <strong class="h2 fw-600 text-primary">
                                                $7.00
                                            </strong>
                                            <span class="opacity-70">/pc</span>
                                        </div>
                                    </div>
                                </div>


                                <hr>

                                <form id="option-choice-form">
                                    <input type="hidden" name="_token" value="YvbdaQxlzbJ5l0F6EhyXMeVZebAicYNv8wcSrZok">
                                    <input type="hidden" name="id" value="66">


                                    <div class="row no-gutters">
                                        <div class="col-2">
                                            <div class="opacity-50 mt-2 ">Size:</div>
                                        </div>
                                        <div class="col-10">
                                            <div class="aiz-radio-inline">
                                                <label class="aiz-megabox pl-0 mr-2">
                                                    <input type="radio" name="attribute_id_1" value="28" checked>
                                                    <span
                                                        class="aiz-megabox-elem rounded d-flex align-items-center justify-content-center py-2 px-3 mb-2">
                                                        28
                                                    </span>
                                                </label>
                                                <label class="aiz-megabox pl-0 mr-2">
                                                    <input type="radio" name="attribute_id_1" value="30">
                                                    <span
                                                        class="aiz-megabox-elem rounded d-flex align-items-center justify-content-center py-2 px-3 mb-2">
                                                        30
                                                    </span>
                                                </label>
                                                <label class="aiz-megabox pl-0 mr-2">
                                                    <input type="radio" name="attribute_id_1" value="32">
                                                    <span
                                                        class="aiz-megabox-elem rounded d-flex align-items-center justify-content-center py-2 px-3 mb-2">
                                                        32
                                                    </span>
                                                </label>
                                                <label class="aiz-megabox pl-0 mr-2">
                                                    <input type="radio" name="attribute_id_1" value="34">
                                                    <span
                                                        class="aiz-megabox-elem rounded d-flex align-items-center justify-content-center py-2 px-3 mb-2">
                                                        34
                                                    </span>
                                                </label>
                                                <label class="aiz-megabox pl-0 mr-2">
                                                    <input type="radio" name="attribute_id_1" value="36">
                                                    <span
                                                        class="aiz-megabox-elem rounded d-flex align-items-center justify-content-center py-2 px-3 mb-2">
                                                        36
                                                    </span>
                                                </label>
                                                <label class="aiz-megabox pl-0 mr-2">
                                                    <input type="radio" name="attribute_id_1" value="38">
                                                    <span
                                                        class="aiz-megabox-elem rounded d-flex align-items-center justify-content-center py-2 px-3 mb-2">
                                                        38
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row no-gutters">
                                        <div class="col-2">
                                            <div class="opacity-50 mt-2">Color:</div>
                                        </div>
                                        <div class="col-10">
                                            <div class="aiz-radio-inline">
                                                <label class="aiz-megabox pl-0 mr-2" data-toggle="tooltip"
                                                    data-title="AntiqueWhite">
                                                    <input type="radio" name="color" value="#FAEBD7" checked>
                                                    <span
                                                        class="aiz-megabox-elem rounded d-flex align-items-center justify-content-center p-1 mb-2">
                                                        <span class="size-30px d-inline-block rounded"
                                                            style="background: #FAEBD7;"></span>
                                                    </span>
                                                </label>
                                                <label class="aiz-megabox pl-0 mr-2" data-toggle="tooltip"
                                                    data-title="Beige">
                                                    <input type="radio" name="color" value="#F5F5DC">
                                                    <span
                                                        class="aiz-megabox-elem rounded d-flex align-items-center justify-content-center p-1 mb-2">
                                                        <span class="size-30px d-inline-block rounded"
                                                            style="background: #F5F5DC;"></span>
                                                    </span>
                                                </label>
                                                <label class="aiz-megabox pl-0 mr-2" data-toggle="tooltip"
                                                    data-title="DarkGray">
                                                    <input type="radio" name="color" value="#A9A9A9">
                                                    <span
                                                        class="aiz-megabox-elem rounded d-flex align-items-center justify-content-center p-1 mb-2">
                                                        <span class="size-30px d-inline-block rounded"
                                                            style="background: #A9A9A9;"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <hr>

                                    <!-- Quantity + Add to cart -->
                                    <div class="row no-gutters">
                                        <div class="col-2">
                                            <div class="opacity-50 mt-2">Quantity:</div>
                                        </div>
                                        <div class="col-10">
                                            <div class="product-quantity d-flex align-items-center">
                                                <div class="row no-gutters align-items-center aiz-plus-minus mr-3"
                                                    style="width: 130px;">
                                                    <button class="btn col-auto btn-icon btn-sm btn-circle btn-light"
                                                        type="button" data-type="minus" data-field="quantity"
                                                        disabled="">
                                                        <i class="las la-minus"></i>
                                                    </button>
                                                    <input type="text" name="quantity"
                                                        class="col border-0 text-center flex-grow-1 fs-16 input-number"
                                                        placeholder="1" value="1" min="1" max="10" readonly>
                                                    <button class="btn  col-auto btn-icon btn-sm btn-circle btn-light"
                                                        type="button" data-type="plus" data-field="quantity">
                                                        <i class="las la-plus"></i>
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <hr>

                                    <div class="row no-gutters pb-3 d-none" id="chosen_price_div">
                                        <div class="col-2">
                                            <div class="opacity-50">Total Price:</div>
                                        </div>
                                        <div class="col-10">
                                            <div class="product-price">
                                                <strong id="chosen_price" class="h4 fw-600 text-primary">

                                                </strong>
                                            </div>
                                        </div>
                                    </div>

                                </form>

                                <div class="mt-3">
                                    <button type="button" class="btn btn-soft-primary mr-2 add-to-cart fw-600"
                                        onclick="addToCart()">
                                        <i class="las la-shopping-bag"></i>
                                        <span class="d-none d-md-inline-block"> Add to cart</span>
                                    </button>
                                    <button type="button" class="btn btn-primary buy-now fw-600" onclick="buyNow()">
                                        <i class="la la-shopping-cart"></i> Buy Now
                                    </button>
                                </div>








                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mb-4">
            <div class="container">
                <div class="row gutters-10">

                    <div class="col-xl-12">
                        <div class="bg-white mb-3 shadow-sm rounded">
                            <div class="nav border-bottom aiz-nav-tabs">
                                <a href="#tab_default_1" data-toggle="tab"
                                    class="p-3 fs-16 fw-600 text-reset active show">Description</a>
                                <a href="#tab_default_4" data-toggle="tab"
                                    class="p-3 fs-16 fw-600 text-reset">reviews</a>
                            </div>

                            <div class="tab-content pt-0">
                                <div class="tab-pane fade active show" id="tab_default_1">
                                    <div class="p-4">
                                        <div class="mw-100 overflow-hidden text-left">
                                            <ul class="product-property-list util-clearfix"
                                                style="box-sizing: border-box; margin: 0px; padding: 10px 0px; border: 0px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-weight: 400; font-stretch: inherit; font-size: 13px; line-height: inherit; font-family: &quot;Open Sans&quot;, Arial, Helvetica, sans-serif, SimSun, å®‹ä½“; vertical-align: baseline; list-style: disc; zoom: 1; color: rgb(0, 0, 0); letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
                                                <li class="property-item" id="product-prop-2" data-attr="202627876"
                                                    data-title="oZyc"
                                                    style="box-sizing: border-box; margin: 0px; padding: 5px 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 16px; font-family: inherit; vertical-align: baseline; display: list-item; position: relative; width: 479px; float: left; list-style: none;">
                                                    <span class="propery-title"
                                                        data-spm-anchor-id="2114.10010108.0.i4.53bf7c2d8WtXep"
                                                        style="box-sizing: border-box; margin: 0px 3px 0px 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; float: left; color: rgb(153, 153, 153);">Brand
                                                        Name:</span><span class="propery-des" title="oZyc"
                                                        style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; float: left; max-width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">oZyc</span>
                                                </li>
                                                <li class="property-item" id="product-prop-200000137"
                                                    data-attr="200001174" data-title="Sun Hats"
                                                    style="box-sizing: border-box; margin: 0px; padding: 5px 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 16px; font-family: inherit; vertical-align: baseline; display: list-item; position: relative; width: 479px; float: left; list-style: none;">
                                                    <span class="propery-title"
                                                        style="box-sizing: border-box; margin: 0px 3px 0px 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; float: left; color: rgb(153, 153, 153);">Item
                                                        Type:</span><span class="propery-des" title="Sun Hats"
                                                        style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; float: left; max-width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Sun
                                                        Hats</span></li>
                                                <li class="property-item" id="product-prop-200000329"
                                                    data-attr="200001248" data-title="Solid"
                                                    style="box-sizing: border-box; margin: 0px; padding: 5px 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 16px; font-family: inherit; vertical-align: baseline; display: list-item; position: relative; width: 479px; float: left; list-style: none;">
                                                    <span class="propery-title"
                                                        style="box-sizing: border-box; margin: 0px 3px 0px 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; float: left; color: rgb(153, 153, 153);">Pattern
                                                        Type:</span><span class="propery-des" title="Solid"
                                                        style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; float: left; max-width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Solid</span>
                                                </li>
                                                <li class="property-item" id="product-prop-3" data-attr=""
                                                    data-title="hats for women"
                                                    style="box-sizing: border-box; margin: 0px; padding: 5px 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 16px; font-family: inherit; vertical-align: baseline; display: list-item; position: relative; width: 479px; float: left; list-style: none;">
                                                    <span class="propery-title"
                                                        style="box-sizing: border-box; margin: 0px 3px 0px 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; float: left; color: rgb(153, 153, 153);">Model
                                                        Number:</span><span class="propery-des" title="hats for women"
                                                        style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; float: left; max-width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">hats
                                                        for women</span></li>
                                                <li class="property-item" id="product-prop-284" data-attr="494"
                                                    data-title="Women"
                                                    style="box-sizing: border-box; margin: 0px; padding: 5px 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 16px; font-family: inherit; vertical-align: baseline; display: list-item; position: relative; width: 479px; float: left; list-style: none;">
                                                    <span class="propery-title"
                                                        style="box-sizing: border-box; margin: 0px 3px 0px 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; float: left; color: rgb(153, 153, 153);">Gender:</span><span
                                                        class="propery-des" title="Women"
                                                        style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; float: left; max-width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Women</span>
                                                </li>
                                                <li class="property-item" id="product-prop-10" data-attr="365832"
                                                    data-title="Straw"
                                                    style="box-sizing: border-box; margin: 0px; padding: 5px 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 16px; font-family: inherit; vertical-align: baseline; display: list-item; position: relative; width: 479px; float: left; list-style: none;">
                                                    <span class="propery-title"
                                                        style="box-sizing: border-box; margin: 0px 3px 0px 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; float: left; color: rgb(153, 153, 153);">Material:</span><span
                                                        class="propery-des" title="Straw"
                                                        style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; float: left; max-width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Straw</span>
                                                </li>
                                                <li class="property-item" id="product-prop-200000043" data-attr="4100"
                                                    data-title="Adult"
                                                    style="box-sizing: border-box; margin: 0px; padding: 5px 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 16px; font-family: inherit; vertical-align: baseline; display: list-item; position: relative; width: 479px; float: left; list-style: none;">
                                                    <span class="propery-title"
                                                        style="box-sizing: border-box; margin: 0px 3px 0px 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; float: left; color: rgb(153, 153, 153);">Department
                                                        Name:</span><span class="propery-des" title="Adult"
                                                        style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; float: left; max-width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Adult</span>
                                                </li>
                                                <li class="property-item" id="product-prop-326" data-attr="555"
                                                    data-title="Casual"
                                                    style="box-sizing: border-box; margin: 0px; padding: 5px 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 16px; font-family: inherit; vertical-align: baseline; display: list-item; position: relative; width: 479px; float: left; list-style: none;">
                                                    <span class="propery-title"
                                                        style="box-sizing: border-box; margin: 0px 3px 0px 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; float: left; color: rgb(153, 153, 153);">Style:</span><span
                                                        class="propery-des" title="Casual"
                                                        style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; float: left; max-width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Casual</span>
                                                </li>
                                                <li class="property-item" id="product-prop-" data-attr=""
                                                    data-title="57-58cm"
                                                    style="box-sizing: border-box; margin: 0px; padding: 5px 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 16px; font-family: inherit; vertical-align: baseline; display: list-item; position: relative; width: 479px; float: left; list-style: none;">
                                                    <span class="propery-title"
                                                        style="box-sizing: border-box; margin: 0px 3px 0px 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; float: left; color: rgb(153, 153, 153);">size:</span><span
                                                        class="propery-des" title="57-58cm"
                                                        style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; float: left; max-width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">57-58cm</span>
                                                </li>
                                            </ul><br>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="tab_default_2">
                                    <div class="p-4">
                                        <div class="embed-responsive embed-responsive-16by9">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab_default_3">
                                    <div class="p-4 text-center ">
                                        <a href="" class="btn btn-primary">Download</a>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab_default_4">
                                    <div class="p-4">
                                        <ul class="list-group list-group-flush">
                                        </ul>

                                        <div class="text-center fs-18 opacity-70">
                                            There have been no reviews for this product yet.
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>



                    </div>
                </div>
            </div>

        </section>











    </div>


    <!-- SCRIPTS -->
    <script src="https://demo.activeitzone.com/ecommerce/public/assets/js/vendors.js"></script>
    <script src="https://demo.activeitzone.com/ecommerce/public/assets/js/aiz-core.js"></script>





</body>

<script type="text/javascript">

const elements = {
    searchForm: document.querySelector('.search'),
    searchInput: document.querySelector('.search__field')
}

const getInput = () => elements.searchInput.value

async getSearchResult(getInput){
    try{
        console.log(getInput);
        const result = scrape('32958933105');
        result.then(res => {
            console.log(res);
        });
    }
}

const scrape = require('aliexpress-product-scraper');
    const result = scrape('32958933105');
    result.then(res => {
        console.log(res);
    });
</script>

</html>